.header {
  align-items: center;
  background-color: #e08312;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 100vw;
}

img {
  min-width: 20%;
  padding-top: 50px;
}

.profile {
  align-items: center;
  justify-content: center;
  text-align: center;
}