form {
 display: flex;
 justify-content: center;
 flex-direction: column; 
}

.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.tweet-text-box {
  display: flex;
  flex-direction: column;
}

#err1 {
  background: #c51244;
  padding: 10px;
  border-radius: 0;
  position: relative; 
  display: inline-block;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  color: white
}

#err2 {
  background: #c51244;
  padding: 10px;
  border-radius: 0;
  position: relative; 
  display: inline-block;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  color: white
}

textarea {
    border-bottom: 4px solid #545149;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    background-color: #f4f1ec;
    height: 50px;
    width: 90vw;
    text-align: left;
    font-size: smaller;
    resize: none;
} 

.button-and-counter {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.counter {
  font-family: "bungee", sans-serif;
}

.counter-negative {
  color: red;
}

button {
  background: #4056A1;
  font-family: "bungee", sans-serif;
  color: white;
}